.App {
  display: grid;
  grid-template-areas: 
  "header playback"
  "cuelist playback";
  grid-template-columns: minmax(400px, 1fr) minmax(200px, 400px);
  grid-template-rows: 150px 1fr;
  height: 100vh;
  color: var(--text);

  .header {
    grid-area: header;
    // background-color: var(--background-1);
    background-color: var(--gray-300);
    padding: 1rem;
  }
  .playback {
    grid-area: playback;
    background-color: var(--gray-200);
    padding: 1rem;
  }
  .cuelist {
    background-color: var(--gray-100);
    grid-area: cuelist;
    padding: 1rem;
  }
}