.App {
  display: grid;
  grid-template-areas: 
  "cell1 cell3"
  "cell2 cell3"
  "cell4 cell3";
  grid-template-columns: minmax(400px, 1fr) minmax(200px, 400px);
  grid-template-rows: 150px auto 1fr;
  height: 100vh;
  color: var(--text);

  .header {
    grid-area: cell1;
    // background-color: var(--background-1);
    background-color: var(--gray-300);
    padding: 1rem;
  }
  .playback {
    grid-area: cell3;
    background-color: var(--gray-200);
  }
  .console {
    background-color: var(--terminal-background);
    display: grid;
    grid-area: cell2;
    grid-template-columns: 24px 16px auto;
    * {
      display: inline-block;
    }
    .prefix {
      font-family: DroidSansMono;
      font-weight: bold;
      letter-spacing: 1px;
      margin-left: .5rem;
      vertical-align: top;
      margin-top: 3px;
    }
    input {
      background-color: transparent;
      border: none;
      color: var(--black);
      font-size: 1.1em;
      padding: 3px .7rem;
      font-family: DroidSansMono;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .cuelist {
    background-color: var(--gray-100);
    grid-area: cell4;
    .cuelist-container {
      overflow-y: scroll;
      height: 100%;
      table {
        width: 100%;
        overflow-y: scroll;
        thead, thead th {
          background-color: var(--gray-400);
          border: 1px solid var(--gray-400);
        }
        tbody {
          tr {
            cursor: pointer;
            &:nth-child(even) {
              background-color: var(--gray-200);
            }
            &:hover {
              background-color: var(--gray-300)
            }
          }
          td {
            border-right: 1px solid var(--gray-400);
            padding: 2px 5px;
          }
          td:nth-child(1){
            width: 80px;
            text-align: right;
          }
          td:nth-child(2){
            text-align: center;
          }
          td:nth-child(3){
            
          }
          td:nth-child(4){
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
          }
          td:nth-child(5){
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
          }
          td:nth-child(6){
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        td.w-auto, th.w-auto {
          width: 10px;
          box-sizing: content-box;
        }
      }
    }
  }
  .consolehistory {
    height: 100%;
    background-color: var(--gray-100);
    position: relative;
    ul {
      list-style-type: none;
      display: block;
      margin-top: auto;
      height: 100%;
      overflow-y: scroll;
      font-family: DroidSansMono;
      padding: 4px .3rem;
      cursor: default;
      li {
        span.timestamp {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin-right: 8px;
          color: var(--gray-500);
          transition: color 30ms;
        }
        span.error {
          color: red;
        }
        &:hover span.timestamp {
          color: var(--gray-900);
        }
      }
    }
  }

  .btn-focus {
    background-color: yellow;
    border: 2px outset rgb(200,200,0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 3px;
    cursor: pointer;
    &.active {
      border-style: inset;
    }
  }
}
.d-none { display: none }
.d-block { display: block }
.d-inline { display: inline }
.d-inlineblock { display: inline-block }